<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/icon.png">
    <title>Error: 404</title>
</head>
<body>
    {{>header}}
    <p>Page Not Found</p>
    <p>The creator didn't make the page. He's a sloppy guy</p>
</body>
</html>