<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/icon.png">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
         {{>header}}
         <br><br>
        <p>
            A weather forecasting application built using node.js as the backend
            with the help of mapbox API for geocoding data and openweathermap API 
            for the live weather data.
        </p>

        <p>
            © Copyright 2020 - All rights reserved
        </p>
    </div>
    {{>footer}}
</body>
</html>