<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/icon.png">
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">  <!-- use this path not /public/css/styles.css as the code will run from the server root not our locas system root-->
    
</head>
<body>
    <div class="main-content">
        {{>header}}
        <br><br>
        <p>
            Enter a valid location in the search bar<br><br>
            Press the Search button<br><br>
            Bam!!! get the current weather forecast<br><br>
            Valid zip codes are also acceptable
        </p>
    </div>
    
    {{>footer}}
</body>
</html>